<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Er Der Sol?{% endblock %}</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/home.js"></script>
    <script src="https://kit.fontawesome.com/2a54e574db.js" crossorigin="anonymous"></script>
    <!-- OpenLayers for OpenFreeMap -->
    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    <section class="layout">
        {% block content %}{% endblock %}
    </section>

    {% include 'components/footer.html' %}
</body>
</html>