<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Er Der Sol?{% endblock %}</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://kit.fontawesome.com/2a54e574db.js" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <section class="layout">
        <div>
            {% include 'components/navbar.html' %}
        </div>
        {% block content %}{% endblock %}
    </section>

    {% include 'components/footer.html' %}
</body>
</html>