{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra_head %}

<script src="/static/home.js"></script>

{% endblock %}

{% block content %}

<main>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search for a place..."/>
        <button onclick="searchVenues()">Search</button>
        <button onclick="useMyLocation()">Use my location</button>
    </div>
    <div id="map" class="map"></div>
    <script src="/static/map.js"></script>
</main>
<aside class="details">
    <h2>Venues side panel</h2>
    <div id="results"></div>
</aside>

{% endblock %}